body {
  font-family: Arial;
}

.head {
  background: lightblue;
}

.graph {width: 400px}

.center {
  text-align: center;
}

.fullwidth {width: 100%;}


.flexbox {display : flex; order:2; justify-content: space-evenly}

#decoration {display:flex; justify-content: space-between}

h5 {font-size: xx-small;}

rect {fill:rgb(0,0,225);stroke-width:10;stroke:rgb(0,0,0); }
rect:hover {fill: orangered; stroke: orangered;}


circle {fill:yellow;  opacity:0.5;}
circle:hover{stroke: purple; stroke-width:4;}
