body {
  font-family: Arial;
}

h5 {
  font-size: xx-small;
}

rect {
  fill: rgb(0, 0, 225);
  stroke-width: 10;
  stroke: rgb(28, 191, 63);
}

rect:hover {
  fill: orangered;
}

circle {
  fill: yellow;
  opacity: 0.5;
}

circle:hover {
  stroke: purple;
  stroke-width: 4;
}

#decoration {
  display: flex;
  justify-content: space-between;
}

#dataset-type-table {
  border-collapse: collapse;
}

#dataset-type-table th,
#dataset-type-table tr {
  border-bottom: 1px solid black;
}

.head {
  background: lightblue;
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.column-container {
  display: flex;
  flex-direction: row;
}

.column {
  width: 50%;
}

.graph {
  width: 100%;
}
